# Site settings
title: Herim's Blog
email: herimvane@gmail.com
description: > # this means to ignore newlines until "baseurl:"
baseurl: "" # the subpath of your site, e.g. /blog/
url: "http://herimvane.com" # the base hostname & protocol for your site


# Build settings
markdown: kramdown
gems: [jekyll-paginate]
paginate: 50

menu1: Tech
menu2: Reading
menu3: Life