<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="icon-chevron-left"></i></a>
        <a id="nextslide" class="load-item"><i class="icon-chevron-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#main"><i class="icon-chevron-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
	{% if site.search %}
		<button class="menu-button animated fade dosearch">
			<i class="icon-search"></i>
		</button>
	{% endif %}
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#" title="Herim Vane's Blog">Herim Vane</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
				{% for link in site.links %}
					{% assign currentUrl = page.url | split: '/' %}
					{% assign linkSize = link.url | size %}
					{% assign currentLink = link.url | slice: 1, linkSize %}
					{% if link.external %}
						<li {% if currentUrl[1] ==  currentLink or page.url == link.url %} class="current" {% endif %} ><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% else %}
						<li {% if currentUrl[1] ==  currentLink or page.url == link.url %} class="current" {% endif %} ><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
					{% endif %}
				{% endfor %}
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->